In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt
from sklearn import datasets
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

In [3]:
df=pd.read_csv("D:\\12345\\Unemployment in India.csv")
df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural
...,...,...,...,...,...,...,...
763,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.isnull().sum()

Region                                      28
 Date                                       28
 Frequency                                  28
 Estimated Unemployment Rate (%)             0
 Estimated Employed                          0
 Estimated Labour Participation Rate (%)     0
Area                                        28
dtype: int64

In [20]:
df1=df.isnull().sum()/df.shape[0]*100
df1

Region                                      3.645833
 Date                                       3.645833
 Frequency                                  3.645833
 Estimated Unemployment Rate (%)            0.000000
 Estimated Employed                         0.000000
 Estimated Labour Participation Rate (%)    0.000000
Area                                        3.645833
dtype: float64

In [21]:
mean_values = df.mean()

df.fillna(mean_values, inplace=True)

C:\Users\Abdul\AppData\Local\Temp\ipykernel_6188\1481526552.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_values = df.mean()

In [22]:
df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.650000,1.199914e+07,43.240000,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.050000,1.175588e+07,42.050000,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.750000,1.208671e+07,43.500000,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.320000,1.228569e+07,43.970000,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.170000,1.225676e+07,44.680000,Rural
...,...,...,...,...,...,...,...
763,NaN,NaN,NaN,11.787946,7.204460e+06,42.630122,NaN
764,NaN,NaN,NaN,11.787946,7.204460e+06,42.630122,NaN
765,NaN,NaN,NaN,11.787946,7.204460e+06,42.630122,NaN
766,NaN,NaN,NaN,11.787946,7.204460e+06,42.630122,NaN
767,NaN,NaN,NaN,11.787946,7.204460e+06,42.630122,NaN

In [36]:
y=df.iloc[:, 3]


x = df.iloc[:,5]

x

0      43.240000
1      42.050000
2      43.500000
3      43.970000
4      44.680000
         ...
763    42.630122
764    42.630122
765    42.630122
766    42.630122
767    42.630122
Name:  Estimated Labour Participation Rate (%), Length: 768, dtype: float64

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=202)
print("TH shape of x_train is: ",x_train.shape)
print("TH shape of x_test is: ",x_test.shape)
print("TH shape of y_train is: ",y_train.shape)
print("TH shape of y_test is: ",y_test.shape)

TH shape of x_train is:  (614,)
TH shape of x_test is:  (154,)
TH shape of y_train is:  (614,)
TH shape of y_test is:  (154,)

In [39]:
from sklearn.preprocessing import StandardScaler


x_train = np.array(x_train).reshape(-1, 1)
x_test = np.array(x_test).reshape(-1, 1)

sc.fit(x_train)
x_train_a = sc.transform(x_train)
x_test_a = sc.transform(x_test)

In [42]:
from sklearn.tree import DecisionTreeRegressor

print(DecisionTreeRegressor().get_params()['criterion'])

squared_error

In [43]:
sc = StandardScaler()
x_train_a = sc.fit_transform(x_train)

regressor = DecisionTreeRegressor(criterion='squared_error')
regressor.fit(x_train_a, y_train)

DecisionTreeRegressor()

In [44]:
x_test_a = sc.transform(x_test)


y_pred = regressor.predict(x_test_a)

from sklearn.metrics import r2_score

r2_accuracy = r2_score(y_test, y_pred)


percentage_accuracy = r2_accuracy * 100

print("R^2 Accuracy:", r2_accuracy)
print("Percentage Accuracy:", percentage_accuracy, "%")

R^2 Accuracy: -0.5676798521948201
Percentage Accuracy: -56.76798521948201 %